.top_page
  = render 'books/header'#ヘッダーのビューファイル
  = render 'books/top_contents'  #トップ画面の実装
  = render 'books/contents' #コンテンツのビューファイル
  = render 'books/mypage'   #ユーザー情報のプロフィール
  = render 'books/ranking'  #ランキングのビューファイル
  = render 'books/footer'   #フッターのビューファイル